@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    background: #585151;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

figure{
    background: white !important;
}